<link rel="stylesheet" href="/css/admin.css" />

<div class="container-md" style="min-width: 90%;">
  <nav
    class="navbar navbar-expand-lg bg-light alert alert-dark shadow-lg p-2 mb-2 mt-2 bg-body rounded"
  >
    <div class="container-fluid">
      <div class="navbar-brand"><div>
          <img
            class="avatar shadow-lg p-2"
            src="{{admin.image}}"
            alt="avatar"
          />
        </div></div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <div>
            <ul>
              <li class="fw-bold">Tên: {{admin.name}}</li>
              <li>Admin</li>
              <li>Địa chỉ: {{admin.address}}</li>
              <li><a
                  href=""
                  data-bs-toggle="modal"
                  data-bs-target="#adminModal"
                  type-account="admin"
                  data-name="{{admin.name}}"
                  data-bd="{{admin.dateOfBirth}}"
                  data-email="{{admin.email}}"
                  data-id="{{admin.CCCD_CMND}}"
                  data-SDT="{{admin.SDT}}"
                  data-image="{{admin.image}}"
                  data-address="{{admin.address}}"
                  data-gender="{{admin.gender}}"
                  id="getDataAccount"
                >Sửa đổi thông tin cá nhân</a></li>
            </ul>
          </div>
        </div>
        <div class="d-flex" role="search">
          <div>
            <ul>
              <li>
                <img
                  src="https://img.icons8.com/metro/52/null/exit.png"
                  alt="logout"
                  style=" width: 30px; margin-left: 150px; margin-bottom: 50px; cursor: pointer;"
                  data-bs-toggle="modal"
                  data-bs-target="#logoutModal"
                /></li>
              <li>
                <a id="changePass" href="#" data-bs-toggle="modal" data-bs-target="#changePassModal">
                  Đổi mật khẩu
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="list-client"
          data-bs-toggle="tab"
          data-bs-target="#list-client-pane"
          type="button"
          role="tab"
          aria-controls="list-client-pane"
          aria-selected="true"
        >Danh sách khách hàng</button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="list-employee-tab"
          data-bs-toggle="tab"
          data-bs-target="#list-employee-tab-pane"
          type="button"
          role="tab"
          aria-controls="list-employee-tab-pane"
          aria-selected="false"
        >Danh sách nhân viên</button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="list-service"
          data-bs-toggle="tab"
          data-bs-target="#list-service-pane"
          type="button"
          role="tab"
          aria-controls="list-service-pane"
          aria-selected="false"
        >Danh sách dịch vụ</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="min-height: 40rem;">
      <div
        class="tab-pane fade show active"
        id="list-client-pane"
        role="tabpanel"
        aria-labelledby="list-client"
        tabindex="0"
      ><div class="shadow-lg p-2 mt-3 mb-3">
          <a id="moveToClientBin" style="width: 50px; cursor: pointer;">
            <img
              src="https://img.icons8.com/glyph-neue/64/null/recycle-bin.png"
              alt="bin"
              style="width: 30px;"
            />({{numberClientDisable}})
          </a>

          <a
            class="displayNone"
            id="returnToClientList"
            style="width: 50px; cursor: pointer;"
          >
            <img
              src="https://img.icons8.com/metro/52/null/left.png"
              alt="bin"
              style="width: 30px;"
            />({{numberClient}})
          </a>
          <a
            href="#"
            style="float: right;"
            data-bs-toggle="modal"
            data-bs-target="#clientModal"
          >Tạo mới tài khoản khách hàng.</a>
          {{{ListClient}}}
          {{{BinClient}}}
        </div></div>
      <div
        class="tab-pane fade"
        id="list-employee-tab-pane"
        role="tabpanel"
        aria-labelledby="list-employee-tab"
        tabindex="0"
      ><div class="shadow-lg p-2 mt-3 mb-3">
          <div>
            <a id="moveToEmployeeBin" style="width: 50px; cursor: pointer;">
              <img
                src="https://img.icons8.com/glyph-neue/64/null/recycle-bin.png"
                alt="bin"
                style="width: 30px;"
              />({{numberEmployeeDisable}})
            </a>

            <a
              class="displayNone"
              id="returnToEmployeeList"
              style="width: 50px; cursor: pointer;"
            >
              <img
                src="https://img.icons8.com/metro/52/null/left.png"
                alt="bin"
                style="width: 30px;"
              />({{numberClient}})
            </a>

            <a
              href="#"
              style="float: right;"
              data-bs-toggle="modal"
              data-bs-target="#employeeModal"
            >Tạo mới tài khoản nhân viên.</a>
          </div>
          {{{ListEmployee}}}
          {{{BinEmployee}}}
        </div></div>
      <div
        class="tab-pane fade"
        id="list-service-pane"
        role="tabpanel"
        aria-labelledby="list-service"
        tabindex="0"
      ><div class="shadow-lg p-2 mt-3 mb-3">
          <div>
            <a id="moveToServiceBin" style="width: 50px; cursor: pointer;">
              <img
                src="https://img.icons8.com/glyph-neue/64/null/recycle-bin.png"
                alt="bin"
                style="width: 30px;"
              />({{numberServiceDisable}})
            </a>

            <a
              class="displayNone"
              id="returnToServiceList"
              style="width: 50px; cursor: pointer;"
            >
              <img
                src="https://img.icons8.com/metro/52/null/left.png"
                alt="bin"
                style="width: 30px;"
              />({{numberClient}})
            </a>
            <a
              href="#"
              style="float: right;"
              data-bs-toggle="modal"
              data-bs-target="#serviceModal"
            >Thêm dịch vụ.</a>
          </div>
          {{{ListService}}}
          {{{BinService}}}
        </div></div>
    </div>
  </div>
</div>

<form id="dynamicForm" method="POST"></form>

{{> footer}}
{{> confirmModal}}
{{> handleClient}}
{{> handleEmployee}}
{{> handleService}}
{{> handleAdmin}}
{{> changePosition}}
{{> changeRank}}
{{> logoutModal}}
{{> changePassModal}}

<script src="/js/controlLogout.js"></script>
<script src="/js/event.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/controlChangePass.js"></script>
<script src="/js/admin/admin.js"></script>
<script src="/js/admin/addEvent.js"></script>
<script src="/js/admin/getAdminInterface.js"></script>
<script src="/js/controlUIConfirmModal.js"></script>
<script src="/js/admin/controlTheChangeOfInfo.js"></script>
<script src="/js/admin/controlEventRemoveForever.js"></script>
<script src="/js/admin/controlRemoveEvent.js"></script>
<script src="/js/admin/controlRestore.js"></script>