<link rel="stylesheet" href="/css/admin.css" />

<div class="container-md" style="min-width: 90%;">
  <nav
    class="navbar navbar-expand-lg bg-light alert alert-dark shadow-lg p-2 mb-2 mt-2 bg-body rounded"
  >
    <div class="container-fluid">
      <div class="navbar-brand"><div>
          <img
            class="avatar shadow-lg p-2"
            src="{{admin.image}}"
            alt="avatar"
          />
        </div></div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <div>
            <ul>
              <li class="fw-bold">Tên: {{admin.name}}</li>
              <li>Admin</li>
              <li>Địa chỉ: {{admin.address}}</li>
            </ul>
          </div>
        </div>
        <div class="d-flex" role="search">
          <div>
            <ul>
              <li>
                <img
                  src="https://img.icons8.com/metro/52/null/exit.png"
                  alt="logout"
                  style=" width: 30px; margin-left: 150px; margin-bottom: 50px; cursor: pointer;"
                  data-bs-toggle="modal"
                  data-bs-target="#logoutModal"
                /></li>
              <a href="">Sửa đổi thông tin cá nhân</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="list-client"
          data-bs-toggle="tab"
          data-bs-target="#list-client-pane"
          type="button"
          role="tab"
          aria-controls="list-client-pane"
          aria-selected="true"
        >Danh sách khách hàng</button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="list-employee-tab"
          data-bs-toggle="tab"
          data-bs-target="#list-employee-tab-pane"
          type="button"
          role="tab"
          aria-controls="list-employee-tab-pane"
          aria-selected="false"
        >Danh sách nhân viên</button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="list-service"
          data-bs-toggle="tab"
          data-bs-target="#list-service-pane"
          type="button"
          role="tab"
          aria-controls="list-service-pane"
          aria-selected="false"
        >Danh sách dịch vụ</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="min-height: 40rem;">
      <div
        class="tab-pane fade show active"
        id="list-client-pane"
        role="tabpanel"
        aria-labelledby="list-client"
        tabindex="0"
      ><div class="shadow-lg p-2 mt-3 mb-3">
          <div><img
              src="https://img.icons8.com/glyph-neue/64/null/recycle-bin.png"
              alt="bin"
              style="width: 30px; cursor: pointer;"
            />
            <a
              href="#"
              style="float: right;"
              data-bs-toggle="modal"
              data-bs-target="#addClientModal"
            >Tạo mới tài khoản khách hàng.</a>
          </div>
          {{{ListClient}}}
        </div></div>
      <div
        class="tab-pane fade"
        id="list-employee-tab-pane"
        role="tabpanel"
        aria-labelledby="list-employee-tab"
        tabindex="0"
      ><div class="shadow-lg p-2 mt-3 mb-3">
          <div><img
              src="https://img.icons8.com/glyph-neue/64/null/recycle-bin.png"
              alt="bin"
              style="width: 30px;"
            />
            <a
              href="#"
              style="float: right;"
              data-bs-toggle="modal"
              data-bs-target="#addEmployeeModal"
            >Tạo mới tài khoản nhân viên.</a>
          </div>
          {{{ListEmployee}}}
        </div></div>
      <div
        class="tab-pane fade"
        id="list-service-pane"
        role="tabpanel"
        aria-labelledby="list-service"
        tabindex="0"
      ><div class="shadow-lg p-2 mt-3 mb-3">
          <div><img
              src="https://img.icons8.com/glyph-neue/64/null/recycle-bin.png"
              alt="bin"
              style="width: 30px;"
            />
          </div>
          {{{ListService}}}
        </div></div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  aria-labelledby="logoutModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="logoutModalLabel">Đăng xuất</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn đăng xuất không?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Không</button>
        <a type="button" class="btn btn-danger" href="/">Chắc chắn</a>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-primary mb-0" role="alert" style="height: 6.5rem;">
  this is footer
</div>

<!-- Modal Add Client-->
<div
  class="modal fade"
  id="addClientModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="addClientModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addClientModalLabel">Thêm tài khoản của
          khách hàng.</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      {{! đây là phần body }}
      <div class="modal-body">
        <form id="form" class="row">
          <div class="mb-3 col-md-6">
            <label for="name" class="form-label">Họ và tên</label>
            <input type="text" class="form-control" id="name" name="name" />
          </div>

          <div class="mb-3 col-md-3">
            <label for="gender" class="form-label">Giới tính</label>
            <select class="form-select" name="gender" id="gender">
              <option value="Nam">Nam</option>
              <option value="Nữ">Nữ</option>
            </select>
          </div>

          <div class="mb-3 col-md-3">
            <label for="BD" class="form-label">Ngày sinh</label>
            <input type="date" class="form-control" id="BD" name="BD" />
          </div>

          <div class="mb-3 col-md-8">
            <label for="address" class="form-label">Địa chỉ</label>
            <input
              type="text"
              class="form-control"
              id="address"
              name="address"
            />
          </div>

          <div class="mb-3 col-md-4">
            <label for="id" class="form-label">CCCD/CMND</label>
            <input type="text" class="form-control" id="id" name="id" />
          </div>

          <div class="mb-3 col-md-6">
            <label for="email" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              placeholder="example@aa.xx"
            />
          </div>

          <div class="mb-3 col-md-3">
            <label for="SDT" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="SDT" name="SDT" />
          </div>

          <div class="mb-3 col-md-3">
            <label for="BHYT" class="form-label">Số bảo hiểm y tế</label>
            <input type="text" class="form-control" id="BHYT" name="BHYT" />
          </div>
          <h5 id="notification" class="text-danger">{{notification}}</h5>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Hủy</button>
        <button type="button" class="btn btn-primary" id="addCBtn">Thêm</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add Employee-->
<div
  class="modal fade"
  id="addEmployeeModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="addEmployeeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addEmployeeModalLabel">Thêm tài khoản
          của nhân viên.</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      {{! đây là phần body }}
      <div class="modal-body">
        <form id="form" class="row">
          <div class="mb-3 col-md-6">
            <label for="nameE" class="form-label">Họ và tên</label>
            <input type="text" class="form-control" id="nameE" name="nameE" />
          </div>

          <div class="mb-3 col-md-3">
            <label for="genderE" class="form-label">Giới tính</label>
            <select class="form-select" name="genderE" id="genderE">
              <option value="male">Nam</option>
              <option value="female">Nữ</option>
            </select>
          </div>

          <div class="mb-3 col-md-3">
            <label for="BD_E" class="form-label">Ngày sinh</label>
            <input type="date" class="form-control" id="BD_E" name="BD_E" />
          </div>

          <div class="mb-3 col-md-7">
            <label for="addressE" class="form-label">Địa chỉ</label>
            <input
              type="text"
              class="form-control"
              id="addressE"
              name="addressE"
            />
          </div>

          <div class="mb-3 col-md-3">
            <label for="SDT_E" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="SDT_E" name="SDT_E" />
          </div>

          <div class="mb-3 col-md-2">
            <label for="idE" class="form-label">CCCD/CMND</label>
            <input type="text" class="form-control" id="idE" name="idE" />
          </div>

          <div class="mb-3 col-md-6">
            <label for="emailE" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="emailE"
              name="emailE"
              placeholder="example@aa.xx"
            />
          </div>

          <div class="mb-3 col-md-3">
            <label for="department" class="form-label">Khoa</label>
            <select class="form-select" name="department" id="department">
              <option value="Khoa Nội">Khoa Nội</option>
              <option value="Khoa Ngoại">Khoa Ngoại</option>
              <option value="Khoa Phụ sản">Khoa Phụ sản</option>
              <option value="Khoa Nhi">Khoa Nhi</option>
              <option value="Khoa Truyền nhiễm">Khoa Truyền nhiễm</option>
              <option value="Khoa Cấp cứu">Khoa Cấp cứu</option>
              <option value="Khoa xét nghiệm">Khoa xét nghiệm</option>
            </select>
          </div>

          <div class="mb-3 col-md-3">
            <label for="position" class="form-label">Chức vụ</label>
            <select class="form-select" name="position" id="position">
              <option value="Trưởng khoa">Trưởng khoa</option>
              <option value="Phó khoa">Phó khoa</option>
              <option value="Bác sĩ">Bác sĩ</option>
              <option value="Y tá">Y tá</option>
            </select>
          </div>
          <h5 id="notification" class="text-danger">{{notification}}</h5>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Hủy</button>
        <button
          type="button"
          class="btn btn-primary"
          id="addEmployeeBtn"
        >Thêm</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/admin/admin.js"></script>
<script src="/js/validation.js"></script>