<link rel="stylesheet" href="/css/client.css" />

<div class="container-md" style="min-width: 90%;">
  <nav
    class="navbar navbar-expand-lg bg-light alert alert-dark shadow-lg p-2 mb-2 mt-2 bg-body rounded"
  >
    <div class="container-fluid">
      <div class="navbar-brand"><div>
          <img
            class="avatar shadow-lg p-2"
            src="{{client.image}}"
            alt="avatar"
          />
        </div></div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <div>
            <ul>
              <li class="fw-bold">Tên: {{client.name}}</li>
              <li>Thành viên: {{client.rank}}</li>
              <li>Địa chỉ: {{client.address}}</li>
              <li><a href="">Sửa đổi thông tin cá nhân</a></li>
            </ul>
          </div>
        </div>
        <div class="d-flex" role="search">
          <div>
            <ul>
              <li>
                <img
                  src="https://img.icons8.com/metro/52/null/exit.png"
                  alt="logout"
                  style=" width: 30px; margin-left: 150px; margin-bottom: 50px; cursor: pointer;"
                  data-bs-toggle="modal"
                  data-bs-target="#logoutModal"
                /></li>
              <li>
                <a id="changePass" href="#">
                  Đổi mật khẩu
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="invoice-tab"
          data-bs-toggle="tab"
          data-bs-target="#invoice-tab-pane"
          type="button"
          role="tab"
          aria-controls="invoice-tab-pane"
          aria-selected="true"
        >Danh sách hóa đơn</button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="medical-Record-tab"
          data-bs-toggle="tab"
          data-bs-target="#medical-Record-tab-pane"
          type="button"
          role="tab"
          aria-controls="medical-Record-tab-pane"
          aria-selected="false"
        >Hồ sơ bệnh án</button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="appointment-tab"
          data-bs-toggle="tab"
          data-bs-target="#appointment-tab-pane"
          type="button"
          role="tab"
          aria-controls="appointment-tab-pane"
          aria-selected="false"
        >Danh sách lịch hẹn</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="min-height: 40rem;">
      <div
        class="tab-pane fade show active"
        id="invoice-tab-pane"
        role="tabpanel"
        aria-labelledby="invoice-tab"
        tabindex="0"
      ><div class="shadow-lg p-2 mt-3 mb-3">
          <div><img
              src="https://img.icons8.com/glyph-neue/64/null/recycle-bin.png"
              alt="bin"
              style="width: 30px; cursor: pointer;"
            /></div>
          {{{ListInvoice}}}
        </div></div>
      <div
        class="tab-pane fade"
        id="medical-Record-tab-pane"
        role="tabpanel"
        aria-labelledby="medical-Record-tab"
        tabindex="0"
      ><div class="shadow-lg p-2 mt-3 mb-3">
          {{{ListPatient}}}
        </div></div>
      <div
        class="tab-pane fade"
        id="appointment-tab-pane"
        role="tabpanel"
        aria-labelledby="appointment-tab"
        tabindex="0"
      ><div class="shadow-lg p-2 mt-3 mb-3">
          <div><img
              src="https://img.icons8.com/glyph-neue/64/null/recycle-bin.png"
              alt="bin"
              style="width: 30px;"
            />
            <a href="#" id="makeAppointment">Đặt lịch khám với bác sĩ</a>
          </div>
          {{{ListAppointment}}}
        </div></div>
    </div>
  </div>
</div>

{{> footer}}
{{> logoutModal}}

<script src="/js/client.js"></script>